body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color:rgb(100, 100, 100);
}

.container{
    padding: 10px;
    box-sizing: border-box;
    border: solid white 1px;  
    height: 566px;
    width: 350px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    background-color: black;

}

.screen{
    box-sizing: border-box;
    padding-right: 30px;
    display: grid;
    justify-items: end;
    align-content: center;
    border: solid white 1px;
    grid-column: 1/5;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    background-color: rgb(206, 204, 204);
}

.button{
    border: solid white 1px;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    background-color: rgb(100, 142, 219) ;
}

.button:hover{
    background-color: #D65A3E;
    color: white;
}

.button:active{
    background-color: #25993D;
}

